body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
}

.searchBtn {
  width: fit-content;
  border: 2px solid black;
  background-color: bisque;
  color: black;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.results {
  text-align: center;
}

